{% extends 'base.html.twig' %}

{% block title %}
    Todo App
{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}

<!-- add the css file from public folder -->
<link rel="stylesheet" href="{{ asset('css/styles.css') }}" />

{% endblock %}

{% block body %}

<div class="header">
      <h2>My To Do List</h2>
      <form method="POST" action="{{path('app_todo_create')}}">
        <input type="text" name="title" id="myInput" placeholder="Task title..." />
        <button type="submit" class="addBtn">Add a task</button>
      </form>
    </div>

    <ul>
      <!-- get tasks from database -->
      {% for task in tasks %}
      
      <li class="{% if task.status %}checked{% endif %}">
      <a href="{{ path('app_todo_switch_status', {'id': task.id}) }}"> <span class="task-list-item">{{ task.title }} </span> </a
        ><a onclick="return confirm('Are you sure to delete?')" href="{{ path('app_todo_delete', {'id':task.id}) }}"><span class="close">X</span></a>
      </li>

      {% endfor %}

    </ul>


{% endblock %}

